<!DOCTYPE html>
<html>
 <head>
 <title>Hobbies</title>
 <link rel="stylesheet" href="../resources/css/style.css">
 <link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 crossorigin="anonymous"
 />
 <link rel="stylesheet" href="../resources/css/Homework1.css">
 </head>
 <body>
 <h1>Hobbies</h1>

 <div id="navbar-container"></div>
<p> 

</p>
<div id="carouselWithCaptions" class="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="2"></li>
    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="3"></li>  
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../resources/img/running.jpeg" class = "center" style="width: 50%; height: auto;" alt = "Running">
      <div class="carousel-caption d-none d-sm-block">
        <h5 class = "label">Running</h5>
        <p class = "caption">I am training for the New York City Marathon. I am currently fundraising $4,000 for the charity Pals SkyHope. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../resources/img/travel.jpg" class="center" style="width: 50%; height: auto;" alt="Traveling">
      <div class="carousel-caption d-none d-sm-block">
        <h5 class = "label">Traveling</h5>
        <p class = "caption"> Last semester I was abroad in Madrid, Spain. I traveled to 10 different countries and got to experience new cultures. This is a picture I took in Capri as the sun was setting.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../resources/img/lulu.jpeg" class = "center" style="width: 80%; height: auto;"alt = "Playing with Lulu">
      <div class="carousel-caption d-none d-sm-block">
        <h5 class = "label">Playing with Lulu</h5>
        <p class = "caption">Lulu is my 12 year-old Goldendoodle who loves to go on walks and play. When I am home, I like to spend time with her since she misses me.</p>
      </div>
    </div>
    <div class="carousel-item"> 
      <img src="../resources/img/family.jpeg" class="center" style="width: 70%; height: auto;" alt="Slide 4">
      <div class="carousel-caption d-none d-sm-block">
        <h5 class = "label">Spending time with my family</h5>
        <p class = "caption"> I have two siblings; a twin sister and an older brother. I like to spend my free time doing things with my family like going for dinner, traveling, or going on walks around town.</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselWithCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselWithCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<script
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
 crossorigin="anonymous"
 ></script>
 <script src="../resources/js/navbar.js"></script>
<script>
 loadNavbar(); // Call the function to load the navbar
</script>

 </body>
</html>