<!DOCTYPE html>
<html>
 <head>
 <title>Melissa Silva 2025</title>
 <link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 crossorigin="anonymous"
 />
 <link rel="stylesheet" href="../resources/css/style2.css">
 </head>
 <body>
 <h1>Melissa Silva 2025</h1>
 <p class = "bg-light">Welcome to my Villanova homepage! My name is Melissa Silva and I am a senior Mechanical Engineering Student at Villanova. In addition to Mechanical Engineering, I study Computer Sciene and Business as minors. You will often see me running around campus as I am training for the New York City Marathon. Running at Villanova is fun because our campus is beautiful and I see a lot of my friends. </p>
 <img class="border border-primary"
 src="C:\Users\Melissa\OneDrive - Villanova University\Desktop\CSC2053-Webpage\resources\img\pexels-photo-1805164.jpeg"
 alt="An image of a dog"
 width="220px"
/>
<p> 
<a href="https://www1.villanova.edu/university/liberal-arts-sciences/programs/computingsciences.html">Link to Villanova Computing Sciences Department </a> 
</p>

<script
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
 crossorigin="anonymous"
 ></script>
 <nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarBasic">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="schedule.html">Schedule</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 </body>
</html>